{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
 Welcome to ABC Store where you can purchse variety of iems
{% endblock %}

{% block title %}
Modest Cart
{% endblock %}

{% block content %}



<!--*******************************************************************************************************************************-->




	<!--  <div id="cart-col" class="main-heading col-md-8">&nbsp;</div> -->

<div class="container">
	<div class="my-cart-top-section card p-20">
		<div class="row align-items-center">

				<div class="col-lg-9 col-md-9 d-md-flex justify-content-between align-items-center mb-3 mb-md-0">
<!--				<div  class="col-lg-9 mt-md-9 ">-->
						<h2>
							MY CART</h2>
								<div id="checkoutMinMessage"
											style="font: bold; color: red; display: none;">
											<p class="mb-0"></p>
								</div>






								<div class="col-md-3 text-right d-flex align-items-center">

									<input type="hidden" id="expressCheckOutEnable"
										data-popuptitle="Express Checkout:"
										value="false">
									<input type="button"
										class="form-control continue btn--continue-checkout js-continue-checkout-button js-gtmGA4-begin_checkout js-gtm-continue-checkout-btn btn btn-primary w-100"
										data-gtm-checkout-page="CART"
										data-checkout-url="/en-in/cart/checkout"
										value='CHECKOUT'
										id="checkoutitems" />
								</div>
				</div>



<!--*********************************************************************************************************************************************************************-->
<!--*********************************************************************************************************************************************************************-->




        <!-- Modal -->




<!--    	<div class="my-cart-container-section card cart-box-container mt-0">-->

<!--	&lt;!&ndash; <div class="cart-items-main accordion-wrapper mb-0">-->
<!--				<ul class="accrodion-in-mobile"> &ndash;&gt;-->
<!--				<div class="cart-items-main accordion-wrapper cart-box">-->
<!--	<ul class="accrodion-in-mobile">-->
<!--		<li class="open-state js-groupEntryHeading"-->
<!--			group-name=""><h4 class="heading text-uppercase">Grocery</h4>-->
<!--				<div class="accordian-content">-->
<!--					<div class="row mb-4">-->
<!--						<div class="col-md-5 mb-2 mb-md-0">-->
<!--							<h4 class="card-title">-->

<!--								<span class="text-uppercase font-weight-bold mt-0">Deliver To:</span>-->

<!--										<span class="delivery-address d-flex align-items-center"-->
<!--											data-areaCode="IN-KL-ER-Tripunithura">-->
<!--											<span class="text-truncate mt-0">Tripunithura,&nbsp;Tripunithura&nbsp;</span><a-->
<!--											href="">-->
<!--										Change</a>-->
<!--										</span>-->


<!--									</h4>-->

<!--						</div>-->
<!--						<div class="col-md-5 mb-2 mb-md-0 align-self-end">-->
<!--							<h4 class="card-title">-->
<!--											</h4>-->
<!--								</div>-->
<!--						<div-->
<!--							class="col-md-2  text-lg-right position-relative">-->
<!--							<div class="d-inline-block">-->
<!--								<ul class="selected-product-options stick-bottom">-->
<!--									<li class="single-item js-removeAllCartGroupItems js-gtmGA4-removeAll-remove_from_cart"-->
<!--										data-groupentrycode="IN-COK-LULU-HD-DELIVERY-10007296058"><a-->
<!--										href="javascript:void(0)" id="removeAllCartGroupItems">Remove All</a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<ul class="product-summary-row">-->
<!--							<li class="select-all-row" style="display: none;">-->
<!--								<div class="form-check form-check-inline mb-2">-->
<!--									<input type="checkbox" class="form-check-input"-->
<!--										id="selectall-IN-COK-LULU-HD-DELIVERY-10007296058"> <label-->
<!--										class="form-check-label" for="selectall-IN-COK-LULU-HD-DELIVERY-10007296058">Select All</label>-->
<!--								</div>-->
<!--							</li>-->
<!--							-->
<!--<li class="js-product-1530893">-->
<!--		<div class="pr-description js-expressSelection">-->
<!--			&lt;!&ndash; New content starts &ndash;&gt;-->
<!--			&lt;!&ndash; <div class="cart_prdct-table_remove"></div> &ndash;&gt;-->
<!--			<div class="pr-item">-->
<!--				<a href="/en-in/lulu-koko-fresh-egg-12-s/p/1530893">-->
<!--				<img class="img-fluid" src="/medias/1530893-01.jpg-300Wx300H?context=bWFzdGVyfGltYWdlc3wyMzc3MXxpbWFnZS9qcGVnfGFERTBMMmhqWlM4NU1qQXpPRE13TkRJek5UZ3lMekUxTXpBNE9UTXRNREV1YW5Cblh6TXdNRmQ0TXpBd1NBfGI5MDViYjk3OThiMzNmZWZhMGJmOWJjNDc5NGUzNmRhMmQ3NzEwMTUxODI3OTc1YTFhNjE2ODQwNjNjZDc1M2Y" alt="Lulu Koko Fresh Egg 12&#039;s" title="Lulu Koko Fresh Egg 12&#039;s"/>-->
<!--			</a>-->
<!--			</div>-->
<!--			<div class="pr-item">-->
<!--				<div class="row">-->
<!--					<div class="col-md-7">-->
<!--						<div class="cofirm-description mb-3">-->
<!--							<div class="bank-card-title">-->
<!--								<a href="/en-in/lulu-koko-fresh-egg-12-s/p/1530893">Lulu Koko Fresh Egg 12&#039;s</a>-->
<!--							</div>-->
<!--							<div class="bank-card-description">-->
<!--							<div class="js-promotion-message-1530893">-->
<!--							</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-md-5  text-lg-right">-->
<!--						<div class="cofirm-description mb-3">-->
<!--							<div class="bank-card-title">-->
<!--								&lt;!&ndash; <div class="form-check form-check-inline allow-substitution">-->
<!--                                	<input type="checkbox" class="form-check-input" id="allow1">-->
<!--                                    <label class="form-check-label" for="allow1">Allow Substitution</label>-->
<!--                        </div> &ndash;&gt;-->
<!--								<div class="stock in-stock">In Stock</div>-->
<!--									</div>-->
<!--							<div class="bank-card-description">-->
<!--								<span class="item">&nbsp;</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--</div>-->
<!--</div>-->
<!--			<div class="col-lg-9 col-md-9 d-md-flex justify-content-between align-items-center mb-3 mb-md-0">-->
				<div class="col-9 col-sm-9 col-md-9 col-lg-6 text-center ">

				{% if not cart_items %}
						<div>
								<div>
									<br>
									<h1>
										Your Shopping Cart is Empty
									</h1>
									<br>
									<p class=""><a href="{% url 'ecommerceapp: allProdCart' %}">Please Click Here to continue Sopping </a></p>

								</div>
						</div>
				{% else %}

 <div class="col-9 col-sm-9 col-md-9 col-lg-6 text-center ">
    <table class="table modest-table">


								<thead class="modest-thead">
									<tr>
										<th colspan="5">
											YourItems

										</th>
									</tr>
								</thead>

        				<tbody>
    {% for cart_item in cart_items %}
            			 <tr>
								 <td>
									 <a href="cart_item.product.get_absolute_url"><img src="{{ cart_item.product.img.url}}" alt="" class="float-left rounded custom-image"></a>
								  </td>
								 <td class="text-left">
									 {{ cart_item.product.name }}
									 <br>
									 SKU:{{ cart_item.product.id }}
									 <br>
									 Price:Rs{{ cart_item.product.price }}
									 <br>
									 Qty: {{ cart_item.quantity }}
								 </td>
								 <td>
									 Rs.{{ cart_item.sub_total }}
								 </td>
											{% if cart_item.counter < cart_item.product.stock %}
								 <td>
									 <a href="{% url 'cart_app:add_cart' cart_item_product.id  %}" class="custom-a"><i class="fa-solid fa-plus"></i></a>
									 &nbsp;<a href="" class="custom-a"><i class="fa-solid fa-minus"></i></a>
									  &nbsp;<a href="" class="custom-a"><i class="fa-solid fa-trash"></i></a>
											{% else %}
									 &nbsp;<a href="" class="custom-a"><i class="fa-solid fa-minus"></i></a>
									  &nbsp;<a href="" class="custom-a"><i class="fa-solid fa-trash"></i></a>

								 </td>
											{% endif %}
						 </tr>
    {% endfor %}
       					 </tbody>
	</table>

    </div>

{% endif %}

				</div>






<!--**********************************************************************************************************************-->
				<div id="orderSummaryStart" class="col-lg-3 mt-md-3 mt-lg-0">

								<div class="order-summary-out order-summary-cart-out card">
									<div class="card-heading mb-3">
										<h3>
											ORDER SUMMARY</h3>
									</div>

									<div class="card-content">
															<div class="Grocery express-delivery js-cart-category-group js-cart-category-group2"  group-name="IN-COK-LULU-HD-DELIVERY0007296058">
																				<a class="expand-collapse-single-link"
																					data-toggle="collapse" role="anchor"
																					href="#toggle-item2-component"> <span
																					class="exp-col-link-text text-capitalize"> grocery</span> </span><span class="up-arrow-icon"> <svg>
																		<use
																								xlink:href="/_ui/responsive/common/images/theme-lulu-en/images/lulu-icons.svg#up-arrow"></use>
																		</svg>
																				</span>
																				</a>


													<div id="toggle-item2-component" class="collapse show"
														aria-expanded="true">
														<div class="expand-collapse-single-container">
															<div class="row align-items-center align-content-between mb-1">
																<div class="col">
																	<label class="text-gray"> No. of items:</label>
																</div>
																<div class="col text-right js-group-entry-number-of-items">2</div>
															</div>
														</div>
														<div class="row align-items-center align-content-between mb-1">
															<div class="col">
																<label class="text-gray"> Total:</label>
															</div>
															<div class="col text-right label-value">
																<span class="text-gray">INR</span> <span
																	class="font-weight-bold js-group-entry-item-price">250.00</span>
															</div>
														</div>
													</div>

												</div>

				<!--**************************group************-->

			<div class="grand-total-section">
							<div class="row align-items-center align-content-between mb-1">
										<div class="col">
											Subtotal:
										</div>
											<div class="col text-right label-value pricing-value js-cartpage-subtotal">
											<span><small>INR</small>
											645.00</span>
											</div>
							</div>

							<div class="row align-items-center align-content-between mb-1">
													<div class="col">
															Delivery Fee:
													</div>
													<div class="col text-right label-value pricing-value js-cartpage-delivery-cost" id="deliveryCostValue">
													<span>FREE</span>
													</div>
							</div>

				<!-- //New ConvenienceFee Start -->
						<div class="row convenienceFee-row align-items-center align-content-between mb-1 ">
										<div class="col">
												ConvenienceFee<span style="color:#FF0000" title="We charge a convenience fee for processing/packing the order and it is not refundable." >[?]</span>:
										</div>
										<div class="col text-right label-value pricing-value js-cartpage-convenienceFee" id="convenienceFee">
										<span><small>INR</small>
											20.00</span>
										</div>
						</div>
			<!-- //New ConvenienceFee End -->
		<!-- totalSavings -->
						<div class="row align-items-center align-content-between mb-1 cart-savings-row" style="display:flex;">
								<div class="col text-green js-cartpage-total-savings">
									Total Savings:
								</div>
										<div class="col text-right label-value text-green pricing-value js-cartpage-total-savings" id="totalSavingsDiv">
													<span><small>INR</small> 66.00</span>
										</div>
						</div>
			</div>
<!-- totalSavings END -->

				<div class="grand-total-section grand-total-row">
								 <div class="row align-items-center align-content-between mb-1">
												<div class="col">
													<span class="font-weight-bold">
														Grand Total:</span>
												</div>
												<div class="col text-right label-value">
										<span class="text-gray grand-total-price">INR</span>

											<span class="font-weight-bold js-cartpage-total-price grand-total-price">
													665.00</span>
												</div>
								</div>
				</div>




						</div>


		</div>

		</div>
<!--Order Summery Ends-->
<!--*****************************************************************************************************************************************************-->

		</div>

	</div>


<div id="orderSummaryStart" class="col-lg-3 mt-md-3 mt-lg-0">

								<div class="order-summary-out order-summary-cart-out card">
									<div class="card-heading mb-3">
										<h3>
											ORDER SUMMARY</h3>
									</div>

									<div class="card-content">
															<div class="Grocery express-delivery js-cart-category-group js-cart-category-group2"  group-name="IN-COK-LULU-HD-DELIVERY0007296058">
																				<a class="expand-collapse-single-link"
																					data-toggle="collapse" role="anchor"
																					href="#toggle-item2-component"> <span
																					class="exp-col-link-text text-capitalize"> grocery</span> </span><span class="up-arrow-icon"> <svg>
																		<use
																								xlink:href="/_ui/responsive/common/images/theme-lulu-en/images/lulu-icons.svg#up-arrow"></use>
																		</svg>
																				</span>
																				</a>


													<div id="toggle-item2-component" class="collapse show"
														aria-expanded="true">
														<div class="expand-collapse-single-container">
															<div class="row align-items-center align-content-between mb-1">
																<div class="col">
																	<label class="text-gray"> No. of items:</label>
																</div>
																<div class="col text-right js-group-entry-number-of-items">2</div>
															</div>
														</div>
														<div class="row align-items-center align-content-between mb-1">
															<div class="col">
																<label class="text-gray"> Total:</label>
															</div>
															<div class="col text-right label-value">
																<span class="text-gray">INR</span> <span
																	class="font-weight-bold js-group-entry-item-price">250.00</span>
															</div>
														</div>
													</div>

												</div>

				<!--**************************group************-->

			<div class="grand-total-section">
							<div class="row align-items-center align-content-between mb-1">
										<div class="col">
											Subtotal:
										</div>
											<div class="col text-right label-value pricing-value js-cartpage-subtotal">
											<span><small>INR</small>
											645.00</span>
											</div>
							</div>

							<div class="row align-items-center align-content-between mb-1">
													<div class="col">
															Delivery Fee:
													</div>
													<div class="col text-right label-value pricing-value js-cartpage-delivery-cost" id="deliveryCostValue">
													<span>FREE</span>
													</div>
							</div>

				<!-- //New ConvenienceFee Start -->
						<div class="row convenienceFee-row align-items-center align-content-between mb-1 ">
										<div class="col">
												ConvenienceFee<span style="color:#FF0000" title="We charge a convenience fee for processing/packing the order and it is not refundable." >[?]</span>:
										</div>
										<div class="col text-right label-value pricing-value js-cartpage-convenienceFee" id="convenienceFee">
										<span><small>INR</small>
											20.00</span>
										</div>
						</div>
			<!-- //New ConvenienceFee End -->
		<!-- totalSavings -->
						<div class="row align-items-center align-content-between mb-1 cart-savings-row" style="display:flex;">
								<div class="col text-green js-cartpage-total-savings">
									Total Savings:
								</div>
										<div class="col text-right label-value text-green pricing-value js-cartpage-total-savings" id="totalSavingsDiv">
													<span><small>INR</small> 66.00</span>
										</div>
						</div>
			</div>
<!-- totalSavings END -->

				<div class="grand-total-section grand-total-row">
								 <div class="row align-items-center align-content-between mb-1">
												<div class="col">
													<span class="font-weight-bold">
														Grand Total:</span>
												</div>
												<div class="col text-right label-value">
										<span class="text-gray grand-total-price">INR</span>

											<span class="font-weight-bold js-cartpage-total-price grand-total-price">
													665.00</span>
												</div>
								</div>
				</div>




						</div>


		</div>

		</div>
<!--Order Summery Ends-->

	<table>
		<tr>

		</tr>
	</table>


{% endblock %}
</div>