<!--<nav>-->
<!--<ul>-->
<!--  <li>-->
<!--    <a href="{% url 'ecommerceapp:allProdCat' %}">All Product </a>-->
<!--  </li>-->
<!--  {% for cat in links %}-->
<!--      <li> <a href="{{cat.get_url}}">{{cat.name}}</a>-->

<!--      </li>-->
<!--  {% endfor %}-->




<!--  <li>Your Cart </li>-->
<!--</ul>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent"style="background-color: #EAA22C; left-padding:20px; " >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="navbar-brand">
  <a class="nav-link active" aria-current="page"href="{% url 'cart_app:cart_details' %}">|  <i class="fa-solid fa-cart-shopping"></i>  | {{ counter }}</a>

        </li>
         <li class="navbar-brand">
          <a class="nav-link active" aria-current="page" href="/">| Home |</a>

        </li>

          {% for cat in links %}
        <li class="navbar-brand">

            <a class="nav-link active" aria-current="page" href="{{cat.get_url}}">| {{cat.name}} |</a>
        </li>
          {% endfor %}
<!--          <form class="d-flex" role="search" action="{% url 'search_app:searchResult' %}" method="get">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--         </form>-->
      </ul>
    </div>
  </div>
</nav>